<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.menu">
	<select id="getItem" parameterType="Integer"
		resultType="model.Fruit">
		select * from my_fruits_item where item_id=#{id}
	</select>
	<select id="getItems" resultType="model.Fruit">
		select * from my_fruits_item
	</select>
	<insert id="putUser" parameterType="model.User">
		insert into my_costomers values(#{id},#{pwd}
		,#{name},#{addr},#{phone},#{gender},#{email},#{job})
	</insert>
	<select id="getUser" parameterType="model.Loginuser" resultType="model.User">
		select * from my_costomers where id=#{id} and pwd=#{pwd}
	</select>
</mapper>